/*
* un asterisco se usa como un elemento aplicable a todo
se utiliza la etiqueta directa para aplicar el formato a todas las etiquetas de ese tipo pueden aplicarse varias sobre una misma linea
se utiliza un . para generar una clase aplicable a distintas etiquetas
se aplica un # para crear una id que solo puede aplicarse a una seccionm por archivo
siempre tiene prioridad un id, luego una clase y finalmente una etiqueta
Si se tiene un estilo inline, es decir formatear directamente en el archivo de codigo toma prioridad
EXISTE UNA EXEPCION
si se usa la etiqueta !IMPORTANT cambia el formato a esta etiqueta si bien se pueden usar infinitos no deberiamos de pasar de 5

*/
*   
    {
    margin: 0;
    padding: 0;
    
    }
html
    {
    /*1rem = 16px*/ 
    font-size: 62.5%;
    }
header
    {
 
    background-color: rgb(225, 224, 222);
    color: rgb(170, 170, 170);
    text-align: center;
    width: 100%;
    top: 0;


    }
nav
{
    background-color: rgb(225, 224, 222);
    color: black;
    font-size: large;
    justify-content: center;

}
img /*obligatorio para que las paginas se vean bien adaptandose a  todos los dispositivos*/
{
    width: 100%;
    height: 100%;
}

body
    {

    background-color: rgb(225, 224, 222);
    color: rgb(20, 20, 20);
    text-align: center;
    }
h1 /* ESCRIBIR DIRECTAMENTE LA ETIQUETA PARA APLICAR A TODAS*/
    {
    color: rgb(0, 0, 0);
    text-align: center;
    
    padding: 10px;
    }
h2
    {
        text-align: left;
        color: rgb(0, 0, 0);
        
        padding: 10px;
        
    }
h3
    {
        color: rgb(114, 167, 177);
        text-align: center;
    }
ul
{
    
    text-align: center;
    color:white;
    list-style: url("../img/thetravelertiny.png");
    justify-content: center;
    align-items: center;


}
a
    { 
    /*esto le saca el formato a los links Y A TODO LO DEMAS */
    text-decoration: none;
    color: black;

    
    }
/*.guia li
{

        text-align: center;
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
        list-style-image: url(../img/thetravelertiny.png);/*not working
        color: black;
        background-color: gray;

        
}*/
#arriba
    {
    background-color: midnightblue;
    }


/*con la etiqueta margin se asigna la separacion entre elñementos que lleven esta clase, se pueden espcificar margenes particulares
o se pueden poner cada margen en una sola linea*/
/* padding separa elementos de su inicio de bloque y entre ellos mientras que margin separa bloques*/
    
/*font family cambia la letra, se puede copiar de google fonts por ejemplo
para hacerlo se selecciona la fuente en google fonts y se copia el link correspondiente
luego de añadir el link se copia en la etiqueta lo segundo que ofrece google fonts que es un link de formato
de css*/ 

/*se pueden usar las funciones widht y height para limitar el espacio dentro del padding, esto sirve para por ejemplo poner 
multiples items*/

/*el postion relative se utiliza para determinar el arewa del padre donde los demas position tomaran efecto
el position absolute hace que los objetos se muevan respecto al relative utilisando el relative como cuadro base
el fixed (no lo use) hace que un objeto se quede permanetnemente en un lugar de la pantalla
el sticky funciona como el fixed pero el objeto seguira a la pantalla una vez se llegue a su posicion*/

/* Con la etiqueta z-index se asigna el orden de capas, particularmente util cuando se utiliza el fixed*/

.solar/* PARA CLASES*/

    {
        background-color: rgb(252, 92, 0);  
        color: rgb(0, 0, 0);  
        position: relative;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace, bold;
        gap: 10px;

    }

.arc
    {
        background-color: rgb(113, 255, 248);
        color: rgb(0, 0, 0);
        position: relative;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        
        text-align: left;
        align-items: right;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace, bold;
        
    }

.void
    {
        background-color: rgb(109, 28, 105);
        color: black;
        position: relative;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace, bold;
        

    }
.stasis
    {
        color: white;
        background-color: rgb(71, 3, 209);
        position: relative;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        
        text-align: left;
        align-items: right;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace, bold;
        
    }
.strand
    {
        color: white;
        background-color: rgb(11, 71, 9);
        position: relative;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
        
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace, bold;

    }

.guardianpic
    {
        overflow: auto;
        display: inline-block;
        width: 160px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 85%;
    }
.guardianpicright
    {
    overflow: auto;
    display: inline-block;
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 85%;
    }
footer
    {
        background-color: black;
        color: white;
    }

/* reset de css
esto se aplica al principio de la hoja de estilo, sirve para que nmo se apliquen los valores por defecto y tengan todos
uno universal sin importar con que navegador se vea, se aplica como un * y luego escribiendo los valores a 0*/
/*agregar la etiqueta html al principio y decirle fontsize = 62.5% altera los rem para que vayan en px
en vex de rems que es la medida normal de letras*/


/******FLEXBOX*/
.logo
{
    
    width: 150px;
    height: 150px;
}
.guia
{
    background-color: gray;
    display: flex;
    text-decoration: none;
    /*la direccion afecta como se organizan las cosass
    esta row que es por defecto
    reverse row que invierte el orden de las cosas
    colum lo hace una columna
    reverse colum lo opone*/
    flex-direction: row;
    
    /*justify ordena donde en la pagina van a estar los elementos dentro del display
    space arround divide dejando bordes en la pagina, hay otros tipos pero este ta piola*/
    justify-content: space-around;
    /*style bitch*/
    padding: 4px;
    /*align los ordena en el eje x mientras que justfy lo hace en el y*/
    align-items: center;
    gap: 10px;
    list-style: url("../img/thetravelertiny.png");


}
.galeria
{/* permite la creacion de un slide show*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 36px; /*hasta aca es una galeria normal*/
    border-radius: 15px; /* redondear pixeles*/

}
.galeria img /*se pueden alterar atributos individuyales dentro de cada clase*/
{
    width: 200px;
    height: 400px;
}
.enemies
{
    /* mezcla dir con wrap*/ 
    display: flex;
    flex-flow: row nowrap;
    order: 0;
}
.fallen
{/*flex wrap autoajusta la cantidad de cosas en base al tamapo de la pantalla*/
    /*la funcion order permite que estos elementos se arreglen via CSS en vez de html*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
}
.vex
{
    /* wrap hace que mantenga las imagenes en lugar aunque se achiquen las imagenes*/
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 3;
}
.cabal
{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    order: 2;
}
.boss
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    order: 4;
}
button
{
    border-color: black;
    background-color: white;
    text-align: center;
    margin: 2px;
    
}

